[alias]
	ac = !git A && git commit -m
	acp = "!f(){ git add -A && git commit -m \"$1\" && git push; }; f"
	aal = config --global
	ali = ! echo git config --global alias
	al = config --get-regexp ^alias
	b = branch
	ba = branch -a
	ci = commit -m
	f = fetch
	h = push origin HEAD
	last = log -1 HEAD
	graph = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%an%C(reset)%C(bold yellow)%d%C(reset) %C(dim white)- %s%C(reset)' -n 10 --all
	sta = stash -u
	five = log --oneline -n 5
	acpp = !git add . && git commit -m \"auto-pushed changes\" && git push

[core]
	editor = emacs
	excludesfile = /Users/aiden/.gitignore_global
	pager = 

[fetch]
	prune = true

[init]
	defaultBranch = main

[pager]
	branch = false

[push]
	default = current

[safe]
	directory = /home/runner/work/pipenv/pipenv

[tag]
	gpgsign = true

[user]
	email = aidencullo@gmail.com
	name = Aiden Cullo
