[user]
	name = Aiden Cullo
	email = aidencullo@gmail.com
[core]
	excludesfile = /Users/aiden/.gitignore_global
	editor = vim
[fetch]
	prune = true
[init]
	defaultBranch = main
[alias]
	ac = !git A && git commit -m
	rc = !git commit -am
	A = add -A
	p = push origin main
	al = config --get-regexp ^alias
	h = push origin HEAD
[push]
	default = current
